<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="m-4">
      <div class="text-center mb-4"><h3>Cân bằng ngoặc</h3></div>
      <div>
        <textarea
          class="form-control"
          id="textTest1"
          rows="3"
          style="resize: none; height: 200px;"
        ></textarea>
      </div>
      <div class="text-center m-4"><button type="button" id="buttonTest1" class="btn btn-primary">Kết quả</button></div>
      <div class="border p-2" id="outputTest1" />
    </div>

    <div class="mt-4 mb-4">
      <div class="text-center mb-4"><h3>Diablo</h3></div>
      <div>
        <textarea
          class="form-control"
          id="textTest2"
          rows="3"
          style="resize: none; height: 200px;"
        ></textarea>
      </div>
      <div class="text-center m-4"><button type="button" id="buttonTest2" class="btn btn-primary">Kết quả</button></div>
      <div class="border p-2" id="outputTest2" />
    </div>

    <div class="mt-4 mb-4">
      <div class="text-center mb-4"><h3>Giao hữu bóng dá</h3></div>
      <div>
        <textarea
          class="form-control"
          id="textTest3"
          rows="3"
          style="resize: none; height: 200px;"
        ></textarea>
      </div>
      <div class="text-center m-4"><button type="button" id="buttonTest3" class="btn btn-primary">Kết quả</button></div>
      <div class="border p-2" id="outputTest3" />
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
  <script src="/js/can-bang-ngoac.js"></script>
  <script src="/js/diablo.js"></script>
  <script src="/js/giao-huu-bong-da.js"></script>
</html>